rota:
  ical_url: https://url-to-calendar.ical
  api_key: ${ICAL_FILTER_PROXY_API_KEY}
  rules:
    - field: start_time
      operator: equals
      val: '09:00'
  alarms:
    clear_existing: true
    triggers:
      - '-P1DT0H0M0S'
      - '-P1DT1H1M2S'